1 1 * * 0-6 /bkp/scripts/mountwin.sh
10 1 * * 0-6 /bkp/scripts/bkp.diario.sh
10 1 * * 0 /bkp/scripts/bkp.rede.sh
10 1 * * 0 /bkp/scripts/bkp.sistema.sh
10 10 * * 0 /bkp/scripts/lixeira.sh
30 4 * * 6 /bkp/scripts/sincroniza_servidor.sh
